body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  flex-shrink: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(160,40%,70%,0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

.md-code-block {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: hsla(0, 0%, 99%, 1.0);
  padding: 4px 8px;
  font-family: Source Code Pro, Menlo, monospace;
  line-height: 21px;
  font-size: 13px;
  color: #888;

  overflow: auto;
  max-height: 30vh;
}